html,
body {
  width: 100%;
  height: 100vh;
}

#container {
  margin: 0 auto;
  width: 900px;
  height: 100vh;
}

.box_1 {
  width: 225px;
  height: 300px;
  float: left;
  background-color: black;
}

.box_2 {
  width: 225px;
  height: 300px;
  background-color: pink;
  float: left;
  margin: left;
}



.box_4 {
  width: 225px;
  height: 150px;
  background-color: purple;
  float: left;
}

.box_5 {
  width: 225px;
  height: 150px;
  float: left;
  background-color: yellow;

}

/* container_row2  */

.box_6 {
  width: 225px;
  height: 150px;
  float: left;
  background-color: red;
  text-align: center;
}


.box_7{
    width: 225px;
    height: 150px;
    float: right;
    background-color: aquamarine;
    
}



.box_8{
    width: 225px;
  height: 150px;
  text-align: center;
  float: left;
  background-color:#ffc300;
  color: #fff;

}

.box_9{
  width: 225px;
  text-align: center;
  height: 150px;
  float: left;
  background-color: gray;
}


.box_10{
 width: 225px;
  text-align: center;
  height: 300px;
  float: left;
  background-color: #bccf3d;
    
}

.box_11{
     width: 225px;
     text-align: center;
     height: 150px;
     float: right;
}

.box_12 {
        width: 225px;
      text-align: center;
    height: 150px;
      float: right;
      background-color: #333;
      


}   

  
  
  .box_13
    width: 225px;
  height: 150px;
  float: left;
  
  }